Repository ManageIQ/manageiq-content, pull requests merged in 2019-08, with the labels that each got.

#555 manageiq-core.manageiq-automate Wrap all values in quotes
  content/ansible/roles/manageiq-core.manageiq-automate/library/manageiq_automate.py
Labels: bug

#558 [Changelog] Update for Ivanchuk Beta2
  CHANGELOG.md
Labels: documentation, ivanchuk/yes

#557 Changes for Python 3 compatibility (CFME 5.11/RHEL8)
  content/ansible/roles/manageiq-core.manageiq-automate/library/manageiq_automate.py
Labels: changelog/yes, enhancement, ivanchuk/yes

#559 [Transformation][AnsiblePlaybook] Send service_template credential id as part of service dialog
  content/automate/ManageIQ/Transformation/Ansible.class/__methods__/launchplaybookasaservice.rb
  spec/content/automate/ManageIQ/Transformation/Ansible.class/__methods__/launchplaybookasaservice_spec.rb
Labels: blocker, bug, ivanchuk/yes, transformation

#552 Vm retirement is processed by VmRetireRequest state machine.
  content/automate/ManageIQ/System/Event/MiqEvent/POLICY.class/request_vm_retire.yaml
Labels: bug, changelog/yes, hammer/yes, ivanchuk/yes

#560 V2v wait for ip ansible playbook launch
  content/automate/ManageIQ/Transformation/Ansible.class/__methods__/launchplaybookasaservice.rb
  content/automate/ManageIQ/Transformation/Ansible.class/__methods__/launchplaybookasaservice.yaml
  content/automate/ManageIQ/Transformation/StateMachines/Ansible.class/transformationplaybook.yaml
  spec/content/automate/ManageIQ/Transformation/Ansible.class/__methods__/launchplaybookasaservice_spec.rb
Labels: blocker, bug, ivanchuk/yes, transformation

#562 [V2V] Retrieve conversion state from Automate rather than InfraConversionJob
  content/automate/ManageIQ/Transformation/Common.class/__methods__/vmchecktransformed.rb
  spec/content/automate/ManageIQ/Transformation/Common.class/__methods__/vmchecktransformed_spec.rb
Labels: changelog/no, ivanchuk/yes, refactoring, transformation

#561 [V2V] Manage handover between core and automate
  content/automate/ManageIQ/Transformation/Common.class/__methods__/waitforhandover.rb
  content/automate/ManageIQ/Transformation/Common.class/__methods__/waitforhandover.yaml
  content/automate/ManageIQ/Transformation/StateMachines/VMTransformation.class/transformation.yaml
  spec/content/automate/ManageIQ/Transformation/Common.class/__methods__/waitforhandover_spec.rb
Labels: ivanchuk/yes, refactoring, transformation

#563 [Changelog] Update for Sprint 118
  CHANGELOG.md
Labels: documentation

#564 [V2V] Remove check of task.options[:collapse_snapshots]
  content/automate/ManageIQ/Transformation/Infrastructure/VM/Common.class/__methods__/collapsesnapshots.rb
Labels: blocker, bug, ivanchuk/yes, transformation

#566 [V2V] Remove CollapseSnapshots state and methods
  content/automate/ManageIQ/Transformation/Infrastructure/VM/Common.class/__methods__/collapsesnapshots.rb
  content/automate/ManageIQ/Transformation/Infrastructure/VM/Common.class/__methods__/collapsesnapshots.yaml
  content/automate/ManageIQ/Transformation/StateMachines/VMTransformation.class/pretransform.yaml
Labels: ivanchuk/yes, refactoring, transformation
